<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Autofac.WebApi2" version="3.4.0" targetFramework="net451" />
  <package id="AutoFixture" version="3.24.4" targetFramework="net451" />
  <package id="AWSSDK" version="2.3.41.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Tracing" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
</packages>