<div id="forgot-password-page" class="page-content">
    <div class="container sitterhub-container forgot-password-container">
        <div class="container-overlay"></div>
        <div class="row">
            <div class="col-xs-12 logo-container">
                <img src="content/images/mysitterHUB_logo-trimmed.png" alt="My Sitter Hub"/>
            </div>

            <div class="col-xs-12">
                <div class="forgot-password-window-wrapper">
                    <form name="ChangeRequestForm" id="send-mobile-phone-form" class="step forgot-password-step-1" ng-show="ForgotPasswordHelper.step == 1">
                        <div class="form-group" show-errors>
                            <label for="Mobile" class="control-label col-xs-12">Mobile Phone</label>
                            <div class="col-xs-12">
                                <input name="mobilePhone" phoneformat id="Mobile"
                                       ng-model="ChangeRequestFormValues.Mobile"
                                       class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group col-xs-12">
                            <button class="btn btn-rj btn-wide" ng-disabled="ForgotPasswordHelper.processing || SendMobilePhoneForm.$invalid" ng-click="changeRequest();">Submit</button>
                        </div>
                    </form>

                    <form name="SendCodeForm" id="send-code-form" class="step forgot-password-step-2" ng-show="ForgotPasswordHelper.step == 2">
                        <div class="form-group" show-errors>
                            <label for="code" class="control-label col-xs-12">Code</label>
                            <div class="col-xs-12">
                                <input name="code" id="code" ng-model="SendCodeFormValues.code"
                                       ng-pattern="ForgotPasswordHelper.forgotPasswordCodePattern" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group col-xs-12">
                            <button class="btn btn-rj btn-wide" ng-disabled="ForgotPasswordHelper.processing || SendCodeForm.$invalid" ng-click="sendCode();">Submit</button>
                        </div>
                    </form>

                    <form name="SendPasswordForm" id="send-password-form" class="step forgot-password-step-3" ng-show="ForgotPasswordHelper.step == 3">
                        <div class="form-group" show-errors>
                            <label for="password" class="control-label col-xs-12">New password</label>
                            <div class="col-xs-12">
                                <input name="Password" id="password" ng-model="SendPasswordFormValues.Password"
                                       type="password" class="form-control" required />
                            </div>
                        </div>

                        <div class="form-group col-xs-12">
                            <button class="btn btn-rj btn-wide" ng-disabled="ForgotPasswordHelper.processing || SendPasswordForm.$invalid" ng-click="sendPassword();">Submit</button>
                        </div>
                    </form>

                    <div ng-show="ForgotPasswordHelper.step == 4" class="step forgot-password-step-4">
                        Your password has been changed.
                        Please try to log in again <a href="/#/user/login">here</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


